.cardsContainer {
	margin-right: 5px;
	width: 100%;
	min-width: 500px;
	height: 85vh;
	overflow: scroll;
	overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-template-rows: repeat(4, 196);
	gap:20px;
	padding-right: 10px;
}

.cardsContainer::-webkit-scrollbar {
  width: 4px;               /* ширина всей полосы прокрутки */
	background-color: #27292F;
	padding-left: 5px;
	padding-right: 510px;
  border-radius: 30px;       /* округлось бегунка */
	border: 1.2px solid black;
}

.cardsContainery::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* цвет зоны отслеживания */
	height: 50px;
}

.cardsContainer::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;    /* цвет бегунка */
  border-radius: 30px;       /* округлось бегунка */
}

.p {
	color: blue;
}