.card {
	border-radius: 20px;
	padding: 20px;
	background-color: #1A1C23;
	box-sizing: border-box;
	&:hover {
		border:0.2px solid #60483e;
	}
	position: relative;
	
}
.card * {
	font-family:Jura;
}

.deleteButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 44px;
	height: 44px;
	right: 0;
	top: 0;
	border-left: 1px solid #60483e;
	border-bottom: 1px solid #60483e;
	border-radius: 0px 20px 0px 20px;
	cursor: pointer;
}

.deleteIcon {
	width: 24px;
	height: 24px;
}