.searchInput {
	display: flex;
	align-items: center;
}

.filterIcon {
	position: absolute;
	right: 0;
	padding-right: 10px;
	width: 35px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

.inputWithStyles {
	position: relative;
}